html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

header {
  background: 
  url('../images/Upper-Molar.svg') repeat-x,
  rgba(222, 116, 100, 0.3);
background-size: 10rem;
background-position: bottom;
position: relative;
padding: 1rem 0;
height: 8%;
text-align: center;
z-index: 2;
}

footer {
  background: 
    url('../images/Lower-Molar.svg') repeat-x,
    rgba(222, 116, 100, 0.3);
  background-size: 10rem;;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
  padding: 1rem 0;
  text-align: center;
  z-index: 0;
}

header h1, 
header p, 
footer p {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0;
  background-color: rgba(252, 239, 240, 0.3);
}

h1 {
  color: #F6AE2D;
  font-size: 10em;
  z-index: 2;
  font-family: 'Hellspire';
  src: url('../assets/Hellspire.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  color: #F6AE2D;
  font-size: 1em;
  font-family: 'Medieval-Sharp';
  src: url('../assets/Medieval-Sharp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#gallery-viewport {
  position: relative;
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
}

#canvas-container {
  position: center;
  width: 100%;
  height: 100rem;
  overflow-x: auto;
  z-index: 0;
  overflow-y: hidden;
  white-space: nowrap;
  background: rgba(67, 62, 63, 1);
  -webkit-overflow-scrolling: touch;
}

.button-container {
  text-align: center;
  margin: 1rem 0;
  z-index: 2;
}

button {
  background-color: rgba(214, 73, 51, 1);
  color: white;
  border: none;
  height: 2rem;
  padding: 12px 24px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 1em;
  text-align: center;
  font-family: 'Medieval-Sharp';
  src: url('../assets/Medieval-Sharp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button:hover {
  background-color: rgba(195, 54, 40, 1);
}

@font-face {
  font-family: 'Hellspire';
  src: url('../assets/Hellspire.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medieval-Sharp';
  src: url('../assets/Medieval-Sharp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}